# Set default behavior to automatically normalize line endings.
* text=auto
syntaxes/ocr-pseudocode.tmLanguage.json linguist-language=JSON linguist-detectable=true
snippets/ocr-pseudocode.json linguist-language=JSON linguist-detectable=true